<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <title>Bryson Hub</title>
</head>
<body>
  <nav>
    <table style=>
      <thead>
      <tr>
        <th><a href="/"><img src="https://github.com/SonyTV-Bryson/bryson-hub/blob/main/assets/logo.png?raw=true" width="370"></a></th>
      </tr>
      </thead>
    </table>
    <br>
    <hr>
    <br>
  </nav>
    <p>Bryson Hub</p>
</body>
</html>