<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <title>Bryson Hub</title>
</head>
<body>
  <div class="sidenav">
    <a href="/"><img src="https://github.com/SonyTV-Bryson/bryson-hub/blob/main/assets/logo.png?raw=true" width=140 alt="Bryson Logo"></a>
    <a href="/play">Play</a>
    <a href="/aboutus">About Us</a>
    <a href="https://github.com/SonyTV-Bryson/bryson-hub" target="_blank">GitHub</a>
  </div>
  <div class="main">
    <div class="gallery-container">
      <img class="gallery" alt="gallery" src=https://github.com/SonyTV-Bryson/bryson-hub/blob/main/assets/spotify.png?raw=true" />
      <div class="gallery-content">
        <p>
          Easy, Fast, Accessible
        </p>
        <p class="container-header"><b>
          Bryson Hub
        </b></p>
        <p class="container-lower-header">
          Start streaming today
        </p>
        <a href="/play"><button class="header-button">Stream now</button></a>
      </div>
    </div>
    <iframe class="discord" src="https://discord.com/widget?id=878500084025810974&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    <div class="mainpage-article">
      <h1>
        Alpha Stage
      </h1>
      <hr style="text-align:left;margin-left:0;" color="#FF9900" width="30%">
      <br>
      <p>
        Bryson Hub is currently in its very beginning stages of development. Follow along to see the progress, and thanks for visiting :)
      </p>
    </div>
  </div>
</body>
</html>