<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <title>Bryson Hub</title>
</head>
<body>
  <div class="sidenav">
    <a href="/"><img src="https://github.com/SonyTV-Bryson/bryson-hub/blob/main/assets/logo.png?raw=true" width=140 alt="Bryson Logo"></a>
    <a href="/aboutus">About Us</a>
  </div>
  <div class="main">
    <iframe src="https://discord.com/widget?id=878500084025810974&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  </div>
</body>
</html>