<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <title>Parsing</title>
</head>
<body>
  <div class="sidenav">
    <a href="/"><img src="https://github.com/SonyTV-Bryson/bryson-hub/blob/main/assets/logo.png?raw=true" width=140 alt="Bryson Logo"></a>
    <a href="/play">Play</a>
    <a href="/aboutus">About Us</a>
    <a href="https://github.com/SonyTV-Bryson/bryson-hub" target="_blank">GitHub</a>
  </div>
  <div class="main">
    <p id="args">{{ url }}</p>
    <script>
      window.onload=function(){
        url = document.getElementById("args")
        parseURL(url.innerHTML)
      }
    </script>
    <p style="color: white;">
        Parsing url...<br>
        this should not take longer than a few seconds.
    </p>
  </div>
</body>
</html>