<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <title>Play</title>
</head>
<body>
  <div class="sidenav">
    <a href="/"><img src="https://github.com/SonyTV-Bryson/bryson-hub/blob/main/assets/logo.png?raw=true" width=140 alt="Bryson Logo"></a>
    <a href="/play">Play</a>
    <a href="/aboutus">About Us</a>
    <a href="https://github.com/SonyTV-Bryson/bryson-hub" target="_blank">GitHub</a>
  </div>
  <div class="main">
      <h1 style="color: white;">Watch A Youtube Video</h1>
      <hr style="text-align:left;margin-left:0;" color="#FF9900" width="30%">
      <br>
      <form action="/parse" method="get" id="url-form">
        <label style="color: white;" for="url">URL:</label><br><br>
        <input class="play-input" type="text" id="url" name="url" placeholder="video url"><br>
      </form>

      <button style="font-size: 16px; padding: 8px 16px;" class="header-button" type="submit" form="url-form" value="Submit">Submit</button>
  </div>
</body>
</html>