<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <title>Watch</title>
</head>
<body>
  <div class="sidenav">
    <a href="/"><img src="https://github.com/SonyTV-Bryson/bryson-hub/blob/main/assets/logo.png?raw=true" width=140 alt="Bryson Logo"></a>
    <a href="/play">Play</a>
    <a href="/aboutus">About Us</a>
    <a href="https://github.com/SonyTV-Bryson/bryson-hub" target="_blank">GitHub</a>
  </div>
  <div class="main">
    <p id="args">{{ id }}</p>
    <script>
      window.onload=function(){
        id = document.getElementById("args")
        checkID(id.innerHTML)
      }
    </script>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ id }}?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</body>
</html>